# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/CfgPatches.hpp
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/CfgVehicles.hpp
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/config.cpp
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/eden/STAF_BAF_EF2000.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/eden/STAF_BAF_EF2000_WDL.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/icon/staf_flag.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/icon/staf_flagmarker.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/icon/staf_iconsmall.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_britisharmy/icon/staf_logo_desat.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/CfgGroups.hpp
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/CfgPatches.hpp
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/CfgVehicles.hpp
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/eden/STAF_B_Leopard.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/eden/STAF_B_Leopard_Fleck.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/eden/STAF_BW_EF2000.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/eden/STAF_BW_EF2000_Fleck.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/eden/STAF_CUP_B_Ger_Army_Fleck_soldier_Crew.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/eden/STAF_CUP_B_Ger_Army_Fleck_soldier_Jetpilot.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/eden/STAF_CUP_B_Ger_Army_soldier_Crew.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/eden/STAF_CUP_B_Ger_Army_soldier_Jetpilot.jpg
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/txt/camonet_desert_CO.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/txt/FLK_mbt_03_ext01_co.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/txt/FLK_mbt_03_ext02_co.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/txt/FLK_mbt_03_rcws_co.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/txt/WST_mbt_03_ext01_co.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/txt/WST_mbt_03_ext02_co.paa
Source/@STAF_CUP_Additions/Addons/staf_cup_additions_germanarmy/txt/WST_mbt_03_rcws_co.paa
